<tr>
  <td><%= localize(order.created_at, :format => :long) %></td>
  <td><%= image_tag(order.product.attachment, :class => "card-img-top") %></td>
  <td><%= order.product.title %></td>
  <td><%= order.product.description %></td>
  <td>$<%= order.cost %></td>
</tr>