<div class="col d-flex m-2">
  <div class="card" style="width: 12rem;">
    <%= image_tag(product.image, :class => "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">
        <%= product.title %> - <strong>$<%= product.price %></strong>
      </h5>
      <p class="card-text">
        <%= product.description %>
      </p>
      <% if user_signed_in? %>
        <%= link_to('Buy Now', user_orders_path(current_user.id, product_id: product.id), method: :post, :class => "btn btn-success") %>        
      <% end %>
    </div>
  </div>
</div>