<%= render partial: "shared/hero", locals: { title: "Admin", subtitle: "Edit Product" } %>
<div class="container">
  <%= simple_form_for [:admin, @product], class: "form-horizontal" do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.association :categories, collection: Category.all, as: :check_boxes, include_hidden: false %>
    <%= f.button :submit %>
  <% end %>

  <%= link_to "Back to Product List", admin_products_path %>
</div>