<%= render partial: "shared/hero", locals: { title: "Admin", subtitle: "New Image" } %>
<div class="container">
  <%= simple_form_for [:admin, @category], class: "form-horizontal" do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.association :categories, collection: Category.all, as: :check_boxes, include_hidden: false %>
    <%= f.button :submut %>
  <% end %>

  <%= link_to "Back to Image List", admin_images_path %>
</div>